<div class="row mb-5">
  <div class="col-12">
    <div class="align-items-center card-header d-flex">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="toRouteUrl('/todo')"
      >
        <i class="bi bi-chevron-left mr-2"></i>
        {{ "back" | translate }}
      </button>
    </div>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-row">
    <div class="col-auto mb-2">
      <label for="title">{{ "title" | translate }}</label>
      <input
        formControlName="title"
        id="title"
        #title
        [placeholder]="translatePipe.transform('title')"
        class="form-control"
        maxlength="100"
        required
      />
      <div
        class="alert-danger"
        *ngIf="
          (form.get('title').touched && form.get('title').invalid) ||
          form.errors?.required
        "
      >
        <div *ngIf="form.get('title').errors?.required">
          {{ "title.required" | translate }}
        </div>
      </div>
      <div align="end">{{ title.value?.length || 0 }}/100</div>
    </div>

    <div class="col-auto mb-2">
      <label for="title">{{ "description" | translate }}</label>
      <textarea
        formControlName="description"
        id="description"
        #description
        [placeholder]="translatePipe.transform('description')"
        maxlength="1000"
        class="form-control"
        required
      ></textarea>
      <div
        class="alert-danger"
        *ngIf="
          (form.get('description').touched &&
            form.get('description').invalid) ||
          form.errors?.required
        "
      >
        <div *ngIf="form.get('description').errors?.required">
          {{ "description.required" | translate }}
        </div>
      </div>
      <div align="end">{{ description.value?.length || 0 }}/1000</div>
    </div>

    <div class="mb-2">
      <label for="priority">{{ "priority" | translate }}</label>
      <select
        formControlName="priority"
        id="priority"
        placeholder="Priority"
        class="form-control"
        required
      >
        <option value="" selected disabled>
          {{ "select.priority" | translate }}
        </option>
        <option value="low">{{ "low" | translate }}</option>
        <option value="medium">{{ "medium" | translate }}</option>
        <option value="high">{{ "high" | translate }}</option>
      </select>
      <div
        class="alert-danger"
        *ngIf="
          (form.get('priority').touched && form.get('priority').invalid) ||
          form.errors?.required
        "
      >
        <div *ngIf="form.get('priority').errors?.required">
          {{ "priority.required" | translate }}
        </div>
      </div>
    </div>
    <div class="col-auto d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        {{ id ? ("update" | translate) : ("create" | translate) }}
      </button>
    </div>
  </div>
</form>
